# Node.js
orchestrator/node_modules/
orchestrator/dist/

# Python
ui_listener/venv/
ui_listener/__pycache__/

# Go / Çıktılar
network_sensor/build/
*.sock

# İşletim Sistemi
.DS_Store

# eBPF ve Go Çıktıları
network_sensor/ebpf/vmlinux.h
network_sensor/agent_sensor
*.o